<?xml version="1.0"?>
<!-- YASKAWA GP7 官方模型：STL 和关节参数来自 ros-industrial/motoman (motoman_gp7_support) -->
<!-- Z-up 米制，加载时需要 convertToYUp -->
<robot name="motoman_gp7">

  <material name="yaskawa_blue"><color rgba="0.129 0.149 0.749 1.0"/></material>
  <material name="yaskawa_white"><color rgba="0.99 0.99 0.99 1.0"/></material>
  <material name="yaskawa_silver"><color rgba="0.8 0.8 0.8 1.0"/></material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="package://yaskawa_support/meshes/gp7_base_link.stl"/></geometry>
      <material name="yaskawa_blue"/>
    </visual>
  </link>

  <link name="link_1_s">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="package://yaskawa_support/meshes/gp7_link_1_s.stl"/></geometry>
      <material name="yaskawa_blue"/>
    </visual>
  </link>

  <link name="link_2_l">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="package://yaskawa_support/meshes/gp7_link_2_l.stl"/></geometry>
      <material name="yaskawa_blue"/>
    </visual>
  </link>

  <link name="link_3_u">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="package://yaskawa_support/meshes/gp7_link_3_u.stl"/></geometry>
      <material name="yaskawa_blue"/>
    </visual>
  </link>

  <link name="link_4_r">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="package://yaskawa_support/meshes/gp7_link_4_r.stl"/></geometry>
      <material name="yaskawa_blue"/>
    </visual>
  </link>

  <link name="link_5_b">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="package://yaskawa_support/meshes/gp7_link_5_b.stl"/></geometry>
      <material name="yaskawa_blue"/>
    </visual>
  </link>

  <link name="link_6_t">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="package://yaskawa_support/meshes/gp7_link_6_t.stl"/></geometry>
      <material name="yaskawa_silver"/>
    </visual>
  </link>

  <joint name="joint_1_s" type="revolute">
    <origin xyz="0 0 0.330" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link_1_s"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.967060" upper="2.967060" effort="212.66" velocity="6.544985"/>
  </joint>

  <joint name="joint_2_l" type="revolute">
    <origin xyz="0.040 0 0" rpy="0 0 0"/>
    <parent link="link_1_s"/>
    <child link="link_2_l"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.134464" upper="2.530727" effort="205.80" velocity="5.497787"/>
  </joint>

  <joint name="joint_3_u" type="revolute">
    <origin xyz="0 0 0.445" rpy="0 0 0"/>
    <parent link="link_2_l"/>
    <child link="link_3_u"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-1.221730" upper="3.316126" effort="106.82" velocity="7.155850"/>
  </joint>

  <joint name="joint_4_r" type="revolute">
    <origin xyz="0.440 0 0.040" rpy="0 0 0"/>
    <parent link="link_3_u"/>
    <child link="link_4_r"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-4.712389" upper="4.712389" effort="60.35" velocity="8.726646"/>
  </joint>

  <joint name="joint_5_b" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="link_4_r"/>
    <child link="link_5_b"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.443461" upper="2.443461" effort="37.13" velocity="8.726646"/>
  </joint>

  <joint name="joint_6_t" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="link_5_b"/>
    <child link="link_6_t"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-6.283185" upper="6.283185" effort="18.46" velocity="13.962634"/>
  </joint>

</robot>
